In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import pyarrow as pa
import pyarrow.parquet as pq

from scipy.spatial.distance import euclidean
import itertools
import ast
import re
import sys
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [6]:
df=pd.read_parquet('/lustrehome/federicacuna/TB_Sept_2023_ml/Data/simulated/pi-_10GeV_4ly_1e-4/TrkData_viewx_cl_TB_2023_T10_Sept_pi-Mono_10000_onAxis_10000-evt-801_pitch0.25.parquet')
df=df.drop(columns='view',axis=0)
#df=df.sort_values(by=['Ev', 'ly'], ascending=[True, False])
df = df.reset_index(drop=True)
df=df.dropna(axis=0)
#df=df[df.Ev==0]
n_event = df['Ev'].unique()
print('num of events: ',n_event)
#node_df
node_df=df.apply(lambda x: x.explode() if x.name in ['x_hit','dx_hit','PE','PID'] else x)

num of events:  [   0    1    2 ... 9997 9998 9999]

In [10]:
df[df.Ev==16]

,Ev,ly,x_hit,zx_hit,dx_hit,PE,PID,xMC
64,16,0,[7.222],-30.466,[0.92],[12],[-211.0],7.27
65,16,1,[7.314],1164.535,[0.98],[13],[-211.0],7.27
66,16,2,"[7.16, 7.66]",1202.035,"[0.04, 0.04]","[5, 6]","[-211.0, -211.0]",7.27
67,16,3,[7.466],1787.463,[0.84],[27],[-211.0],7.27

In [3]:
node_df[node_df.Ev==15]

    Ev  ly   x_hit    zx_hit dx_hit  PE    PID    xMC
60  15   0 -12.943   -30.683   1.55  17 -211.0 -12.92
60  15   0 -10.447   -30.683   1.96   7 -999.0 -12.92
61  15   1 -12.871  1164.589   1.69  24 -211.0 -12.92
61  15   1 -10.854  1164.589   0.95  52   11.0 -12.92
61  15   1  14.816  1164.589   2.53   8 -999.0 -12.92
62  15   2 -12.934  1201.820   1.57  16 -211.0 -12.92
63  15   3 -12.894  1787.320   1.43  14 -211.0 -12.92

In [4]:
node_df[node_df.Ev==16]

    Ev  ly   x_hit    zx_hit dx_hit  PE    PID   xMC
64  16   0   7.222   -30.466   0.92  12 -211.0  7.27
65  16   1 -13.715  1164.678    2.8   6 -999.0  7.27
65  16   1  -6.715  1164.678   1.37   6 -999.0  7.27
65  16   1   7.314  1164.678   0.98  13 -211.0  7.27
66  16   2    7.16  1202.035   0.04   5 -211.0  7.27
66  16   2    7.66  1202.035   0.04   6 -211.0  7.27
67  16   3   7.466  1787.463   0.84  27 -211.0  7.27

In [5]:
node_df[node_df.Ev==6]

    Ev  ly  x_hit    zx_hit dx_hit  PE    PID   xMC
24   6   0 -2.852   -30.539   0.42  20 -211.0 -2.76
25   6   1 -2.879  1164.535   0.26  19 -211.0 -2.76
25   6   1  2.767  1164.535   0.53   7 -999.0 -2.76
26   6   2 -2.723  1202.035   0.35  15 -211.0 -2.76
27   6   3 -2.793  1787.607   0.45  16 -211.0 -2.76